* {
	box-sizing: border-box;
}
body{
	background: #111;
	margin: 0;
	font-family: monoscpace;

}
 
h1{
	color: #fff;
	text-align: center;
}
img{
	display: block;
	max-width: 100%;
}

.autos {
	padding: 20px;
	display: flex; 
	 flex-wrap: wrap;
	 justify-content: center;
}

.autos__item{
	width:80;
	cursor: pointer;
}

@media (min-width: 480px) {
	.autos__item{
	width: 48%;
		margin: 6px;
	}
}

@media (min-width: 768px) {
	.autos__item{
		width: 33%;
		
	}
}

@media (min-width: 1024px) {
	.autos__item{
		width: 20%;
		
	}
}

.button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 0px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}

.button:hover:before {
 height: 42px;
}

.button{
	content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 0px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}
