
body {
    background-image: url("../img/concesionario.jpg");
    font-family: Montserrat;
	 background-size: 100vw 100vh;
	 background-attachment: fixed;
	 margin: 0;
} 

.row {
    width: 300px;
    height: 300px;
    margin: 30px auto;
}

.container {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
	background: rgba(0,0,0,0.4);
}

.container h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.form-group input#txtUsuario {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.form-group input#txtUsuario:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.form-group input#txtClave {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.form-group input#txtClave:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.form-group input:active, .form-group input:focus {
    border: 1px solid #ff656c;
}
.row div#btnAceptar {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
	text-align: center;
	
}
	.row div#btnLimpiar {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
	text-align: center;
	
}
.row div#btnAceptar:hover {
    background: #ff7b81;
}
.row div#btnLimpiar:hover {
    background: #ff7b81;
}
